.about-us {
  padding: 50px 0;

  &__title {
    margin: 0;
    font-size: 24px;
    font-weight: 700;
    line-height: 26px;
    text-align: center;
    margin-bottom: 39px;
  }

  &__text {
    margin: 0 0 21px;
    color: #4b4b4b;
    font-size: 16px;
  }

  &__left-side .about-us__btn {
    display: none;
  }

  &__features-list {
    margin-top: 40px;
  }

  &__features-item {
    margin-bottom: 43px;
  }

  &__features-img {
    float: left;
    margin-right: 20px;
  }

  &__features-title {
    padding-right: 60px;
    padding-left: 105px;
    margin: 0 0 15px;
    line-height: 24px;
  }

  &__features-text {
    padding-left: 105px;
    padding-right: 20px;
    margin: 0;
    color: #4b4b4b;
    font-size: 14px;
    line-height: 18px;
  }

  &__btn {
    display: block;
    margin: 0 auto;
    padding: 18px 10px;
    width: 270px;
  }
}
@media (min-width: $desktop) {
  .about-us {
    padding: 50px 0 10px;

    &__wrapper {
      display: flex;
      justify-content: space-between;
    }

    &__left-side {
      max-width: 500px;
      padding-top: 63px;

      .about-us__btn {
        display: block;
      }
    }

    &__right-side {
      max-width: 512px;

      .about-us__btn {
        display: none;
      }
    }

    &__title {
      margin-bottom: 50px;
      max-width: 380px;
      text-align: left;
      font-size: 30px;
      line-height: 36px;
      letter-spacing: 1px;
    }

    &__desc {
      margin-bottom: 53px;
    }

    &__btn {
      margin: 0;
    }

    &__features-list {
      margin-top: 34px;
    }

    &__features-item {
      margin-bottom: 70px;
    }

    &__features-img {
      margin-right: 49px;
    }

    &__features-title {
      margin-bottom: 20px;
    }
  }
}
