.contact {
  &__wrapper {
    padding: 50px 0;
  }

  &__title {
    margin: 0;
    font-size: 24px;
    font-weight: 700;
    line-height: 26px;
    text-align: center;
    margin-bottom: 40px;
  }

  &__address-wrapper {
    margin-bottom: 40px;
  }

  &__text {
    font-size: 14px;
    margin: 0 0 14px;
  }

  &__address {
    color: #212121;
    font-family: $ubuntu;
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
    margin: 0 0 10px;
  }

  &__time {
    font-size: 16px;
    margin: 0 0 14px;
  }

  &__mobile-wrapper {
    margin-bottom: 43px;
  }

  &__mobile {
    width: 175px;
    display: block;
    position: relative;
    color: #212121;
    font-family: $ubuntu;
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
    padding-left: 17px;
    margin: 0 0 14px;
    cursor: pointer;

    &::before {
      content: "";
      position: absolute;
      top: 3px;
      left: 0;
      width: 10px;
      height: 10px;
      background: url("../img/s-icon-telephone.svg");
    }
  }

  &__recall {
    font-size: 14px;
    margin: 0 0 20px;
  }

  &__btn {
    width: 240px;
    font-size: 12px;
    padding: 12px 20px;
  }
}
@media (min-width: $desktop) {
  .contact {
    &__wrapper {
      min-height: 243px;
      display: flex;
      align-items: center;
    }

    &__title {
      margin: 0 109px 0 0;
    }

    &__address-wrapper {
      margin: 0 90px 0 0;
    }

    &__mobile-wrapper {
      margin: 0 112px 0 0;
    }

    &__recall-wrapper {
      padding: 10px 0;
    }
    &__mobile:last-child {
      margin-bottom: 0;
    }
    &__time {
      margin-bottom: 0;
    }
  }
}
