.how-it-work {
  background-color: #fafafa;

  &__wrapper {
    min-height: 286px;
    padding: 50px 0;
  }

  &__title {
    margin: 0;
    text-align: center;
    font-size: 24px;
    line-height: 26px;
    margin-bottom: 35px;
  }

  &__slider {
    padding: 0 37px;

    .slick-arrow {
      border: none;
      font-size: 0;
      background-color: transparent;
      width: 12px;
      height: 30px;
      background-image: url("../img/icon-left_arrow.svg");
      outline: none;
      position: absolute;
      top: calc(50% - 15px);
      cursor: pointer;
      z-index: 1;
    }

    .slick-prev {
      left: -37px;
      top: 10px;
    }

    .slick-next {
      transform: rotate(180deg);
      right: -37px;
      top: 10px;
    }
  }

  &__slider-controls {
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
  }

  &__slider-item {
    outline: none;
  }

  &__slider-label {
    position: relative;
    padding-left: 19px;
    font-family: $ubuntu;
    font-size: 13px;
    font-weight: 700;
    text-transform: uppercase;
    margin-right: 20px;
    outline: none;
    &:last-child {
      margin-right: 0;
    }
    @media (max-width: 320px) {
      padding-left: 15px;
    }
    &::before {
      content: "";
      position: absolute;
      top: 5px;
      left: 0;
      width: 12px;
      height: 12px;
      background: url("../img/s-icon-arrow.svg");
    }
  }
  .slick-current::before {
    background: url("../img/s-icon-arrow-green.svg");
  }


  &__slider-text {
    margin: 0;
    color: #4b4b4b;
    font-size: 14px;
    line-height: 18px;
  }
}
@media (min-width: 768px) {
  .how-it-work {

    &__slider {
      padding: 0;
    }

    &__slider-controls {
      display: flex;
      justify-content: space-between;
      margin-bottom: 0;
    }

    &__slider-label {
      line-height: 14px;
      width: 220px;
      margin: 0 0 24px;

      &:last-child {
        max-width: 220px;
      }

      &::before {
        top: 2px;
        background: url("../img/s-icon-arrow-green.svg");
      }
    }

    &__slider-list {
      display: flex;
      justify-content: space-between;
    }

    &__slider-item {
      max-width: 220px;
      margin-right: 10px;

      &:last-child {
        margin-right: 0;
      }
    }
  }
}
@media (min-width: $desktop) {
  .how-it-work {

    &__slider {
      padding: 0 37px;
    }

    &__wrapper {
      display: flex;
      align-items: center;
      padding: 0;
      min-height: 200px;
    }

    &__title {
      width: 430px;
      font-size: 30px;
      line-height: 36px;
      text-align: left;
      margin: 0;
    }

    &__slider {
      flex-grow: 1;
      max-width: 770px;
      padding: 0;
    }

    &__slider-text {
      margin: 0;
    }
  }
}
