.map {
  background: #fafafa;
  width: 100%;
  min-height: 400px;
  background: url("../img/map-bg.jpg");
  background-position: -500px 0;
  background-repeat: no-repeat;
}
@media (min-width: $desktop) {
  .map {
    min-height: 500px;
    background-position: 0 0;
  }
}
