.plan {
  background: url("../img/plan-bg.jpg") no-repeat;
  background-size: cover;
  background-position: -674px 0;
  position: relative;

  .container {
    position: relative;
    z-index: 1;
  }

  &__wrapper {
    padding-top: 50px;
    min-height: 413px;
  }

  &__overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background-color: rgba(255, 255, 255, 0.5);
    z-index: 0;
  }

  &__title {
    margin: 0 0 27px;
    color: #212121;
    font-size: 24px;
    font-weight: 700;
    line-height: 26px;
    text-align: center;
  }

  &__text {
    margin: 0 0 29px;
    font-family: $ubuntu;
    color: #212121;
    font-size: 16px;
    font-weight: 700;
    line-height: 22px;
    text-transform: uppercase;
    text-align: center;
  }

  &__list {
    margin-bottom: 36px;
  }

  &__item {
    position: relative;

    &::before {
      content: "";
      position: absolute;
      top: 5px;
      left: 42px;
      width: 14px;
      height: 11px;
      background: url("../img/icon-check.svg");
    }
  }

  &__item-text {
    margin: 0 0 13px;
    padding-left: 66px;
    color: #4b4b4b;
    font-family: $opensans;
    font-size: 16px;
  }

  &__btn {
    display: block;
    margin: 0 auto;
    width: 270px;
  }
}
@media (min-width: $desktop) {
  .plan {
    min-height: 450px;
    background-position: top center;

    &__overlay {
      display: none;
    }

    &__wrapper {
      width: 550px;
      margin-right: auto;
      padding: 102px 0;
    }

    &__title {
      font-size: 30px;
      line-height: 36px;
      letter-spacing: 1px;
      text-align: left;
      margin-bottom: 22px;
    }

    &__text {
      text-align: left;
      margin-bottom: 40px;
    }

    &__list {
      display: flex;
      margin-bottom: 48px;
    }

    &__item {
      margin-right: 32px;

      &::before {
        top: 6px;
        left: 6px;
      }
    }

    &__item-text {
      margin: 0;
      padding-left: 30px;
    }

    &__btn {
      margin: 0 auto 0 0;
    }
  }
}
