.btn {
  width: 100%;
  display: inline-block;
  font-family: $ubuntu;
  text-align: center;
  margin: 0 auto;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 18px;
  color: $white;
  background-color: $green;
  border-radius: 4px;
  box-shadow: 0 9px 15px 1px rgba(62, 196, 73, 0.18);
  padding: 19px 0;
  border: 0;
  cursor: pointer;
  transition: all .3s;

  &:active,
  &:hover {
    background-color: #40d14c;
  }

  &--yellow {
    color: $grey;
    background-color: $yellow;
    box-shadow: none;

    &:active,
    &:hover {
      background-color: #ffe139;
      box-shadow: 0 9px 15px 1px rgba(248, 215, 28, 0.12);
    }
  }

  &--white {
    color: $green;
    background-color: $white;
    border: 1px solid #39bb44;
    padding: 18px 10px;
    box-shadow: none;

    &:active,
    &:hover {
      color: $white;
      background-color: $green;
    }
  }
}

.close-btn {
  position: absolute;
  top: 16px;
  right: 12px;
  width: 18px;
  height: 18px;
  background: url("../img/icon-cros.svg") no-repeat;
  border: 0;
  background-color: transparent;
  font-size: 0;
  outline: none;
  cursor: pointer;
}
