$black: #212121;
$white: #ffffff;
$grey: #4b4b4b;
$light-grey: #e4e4e4;
$green: #39bb44;
$yellow: #f8d71c;
$bg-grey: #fafafa;

$ubuntu: "Ubuntu", sans-serif;
$opensans: "Open Sans", sans-serif;

$mobile-width: 375px;
$tablet-width: 768px;
$desktop-width: 1300px;
$mobile-width-only: 767px;
